span.icon {
  color: #5B9279;
}

ul.nav {
  margin-right: 3%;
  margin-left: 5%;
  padding: 2px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #5B9279;
}

ul.navbar-right {
  margin-top: 5px;
}

.rsvp-button {
  background-color: #5B9279;
  color: #FFFFFF;
  border-radius: 3em;
  padding: 10px 20px;
  display: inline;
}

.rsvp-button:hover {
  font-size: 18px;
}

#nav {
  background-color: #FFFFFF;
  opacity: .95;
  font-family: 'Inconsolata', sans-serif;
  font-size: 16px;
}

#nav-container {
  margin-left: 5%;
}

div.navbar-header {
  margin-right: 5%;
}

#landing {
  background-image: url('../img/distance.JPG');
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

div.title {
  color: #FFFFFF;
  top: 250px;
}

#landing h1 {
  font-size: 70px;
  text-shadow: -2px 1px #828282;
}

#landing h3 {
  font-family: 'Amaranth', sans-serif;
  font-size: 28px;
  color: #FFFFFF;
}

#landing > .rsvp-button {
  font-size: 28px;
  padding: 20px;
  padding: 10px 60px;
  font-family: 'Inconsolata', sans-serif;
}

#event {
  background-image: url('../img/ruby.jpg');
  background-size: contain;
}
.section {
  min-height : 800px;
}

.vertical-align {
  /*display: flex;*/
  /*align-items: center;*/
}
