span.icon {
    color: #A6808C;
}

ul.nav {
    margin-right: 3%;
    margin-left: 5%;
    padding: 2px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #5B9279;
    font-weight: bold;
}

ul.navbar-right {
    margin-top: 5px;
}

@media (max-width: 880px) {
    ul.navbar-right {
        display: none;
    }
}

@media (min-width: 880px) {
    #rsvp-small-screen {
        display: none;
    }
}

.button {
    background-color: #A6808C;
    color: #FFFFFF;
    border-radius: 3em;
    padding: 10px 20px;
    display: inline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #2b4530;
}

a {
    color: #5B9279;
}

ul.nav>li>a:hover {
    background-color: transparent;
}

.rsvp-button:hover {
    background-color: #FFFFFF;
    color: #A6808C;
    border-color: #A6808C;
    border-width: 2px;
    border-style: solid;
}

#nav {
    background-color: #FFFFFF;
    opacity: .95;
    font-size: 16px;
}

#nav.shadow {
    border-bottom: rgba(128, 128, 128, 0.39);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

#nav-container {
    margin-left: 5%;
}

div.navbar-header {
    margin-right: 5%;
}

#landing {
    background-image: url('../img/smiley_edit.jpg');
    background-size: cover;
    /*font-family: 'Poppins', sans-serif;*/
}


@media (max-width: 577px) {
    #landing {
        background-image: url('../img/reyes.jpg');
    }
}


div.title {
    color: #FFFFFF;
    top: 200px;
}

div.subtitle {
    color: #FFFFFF;
    float: right;
    margin: 250px 100px 100px 100px;
}

div.padding {
    padding:20px;
}

h1 {
    color: #FFFFFF;
    font-size: 80px;
}


#landing h3 {
    font-size: 34px;
    color: #FFFFFF;
}

@media (max-width: 1000px) {
    div.title {
        top: 100px;
    }

    h1 {
        font-size: 65px;
    }

    div.subtitle {
        float: left;
        margin: 150px 30px 30px 30px;;
    }

    #landing h3 {
        font-size: 25px;
    }
}

#event {
    background-image: url('../img/winery.jpg');
    background-size: cover;
}
.amaranth {
    font-family: 'Amaranth', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.inconsolata {
    font-family: 'Inconsolata', sans-serif;
}

.event-details-wrapper {
    background: rgba(238, 238, 238, 0.74);
    text-align: center;
}

.event-details-wrapper > img {
    width: 100%;
}

.event-details-wrapper.jumbotron.itinerary > p {
    font-size: 19px;
}

.section {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-top-style: solid;
    border-top-width: 5px;
    border-color: rgba(235, 240, 244, 0.59);
    min-height : 800px;
    padding: 15px;
}

.vertical-align {
    /*display: flex;*/
    /*align-items: center;*/
}

#address > div {
    font-size : 24px;
}

iframe#map {
/*    left: auto;
    float: right;
    right: 100%;*/
    visibility: hidden;
}

iframe#map.show {
    display: block;
    border: 0;
    width: 100%;
    padding-left: 20px;
    visibility: visible;
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
}

div#itinerary {
    background-color: rgba(148, 128, 134, 0.76);
}


div#timeline {
    background-color: rgba(148, 128, 134, 0.76);
}

.mauve {
    color: rgba(148, 128, 134, 1);
}



.cd-timeline-content > img {
    width: 100%;
}

.cd-timeline-content > iframe {
    width: 100%;
}

@media (max-width: 768px) {

    .cd-timeline-content > p.timeline-content {
        font-size: 13px;
    }

    .cd-timeline-content > span.cd-date {
        font-size: 13px;
    }
}

#story {
    margin-top: 80px;
    margin-left: 50px;
    margin-bottom: 50px;
}

#travel {
    background-image: url('../img/brooklyn_bridge.jpg');
    background-size: cover;
}

div#gift {
    background-color: #948086;
}

div.not-centered {
    text-align: left;
}

span.itinerary-timeline {
    color: #948086;
    font-weight: bold;
    padding: 5px;
}

/* RSVP Page
*/
.section.coming-soon {
    padding-top: 50px;
    background-color: rgba(91, 146, 121, 0.55);
}

iframe#rsvp {
    width: 100%;
    height: 100%;
}

.rsvp-form {
    height: 1000px;
}

footer {
    text-align: center;
}
